.add {
  display: inline-block;
  margin: 20px 0;
}

.list {
  .item {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
  }

  .item:nth-child(odd) {
    background-color: #eee;
  }

  .item td,.item th {
    padding: 10px;
  }
}